body { margin:0; font-family:Arial; background:#fff6e8; }

.navbar {
  display:flex; justify-content:space-between; padding:15px 40px;
  background:#fff; box-shadow:0 2px 8px rgba(0,0,0,0.1);
}
.logo { font-size:24px; font-weight:bold; color:#e67300; }
nav a { margin:0 15px; color:#333; cursor:pointer; }

.hero {
  display:flex; padding:40px; background:#fff;
}
.hero img { width:50%; border-radius:10px; }
.hero-text { width:50%; padding:20px; }
.hero-text h1 { font-size:42px; }
.hero-text button {
  padding:10px 20px;
  background:#ff8c00; border:none; border-radius:5px;
  color:white; cursor:pointer;
}

.section-title {
  text-align:center;
  margin-top:50px;
}

.cards {
  display:flex;
  gap:20px;
  justify-content:center;
  padding:20px;
}

.card {
  background:white; padding:10px; border-radius:10px;
  width:300px; text-align:center;
  box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.card img {
  width:100%; height:220px; border-radius:10px;
  object-fit:cover;
}

button {
  background:#5a3c00;
  color:white;
  padding:8px 14px;
  border-radius:8px;
  border:none;
}

.small { width:250px; }

.about {
  text-align:center;
  padding:40px;
  background:#ff9d0025;
  margin:40px;
  border-radius:10px;
}

/* Collections Grid */
.collections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 30px 40px;
}

.collection-card {
  text-align: center;
}

.collection-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
}

.collection-card h3 {
  margin-top: 10px;
  font-weight: bold;
}

/* Contact Section */
.contact-section {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  gap: 40px;
}

.contact-left, .contact-right {
  width: 48%;
}

.contact-left input,
.contact-left textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #bbb;
}

.contact-left textarea {
  height: 120px;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #4a2f00;
  color: white;
  border-radius: 6px;
  border: none;
}

.contact-right hr {
  margin: 12px 0;
}
